@model MVC5.Models.Usuario

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>¿Desea eliminar éste registro?</h3>
<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           N° Registro:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        
        <dt>
           Nombre:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            Nombre de usuario:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Usuario)
        </dd>

        <dt>
            Contraseña:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contrasenna)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
